<form novalidate #form="ngForm">
    <input type="hidden" name="paymentDetailId" [value]="paymentDetailService.formData.paymentDetailId">
    <div class="form-group">
        <label>Card Owner Name</label>
        <input type="text" placeholder="Full Name" class="form-control form-control-lg" name="cardOwnerName"
            #cardOwnerName="ngModel" [(ngModel)]="paymentDetailService.formData.cardOwnerName" required
            [class.invalid]="cardOwnerName.invalid && cardOwnerName.touched">
    </div>
    <div class="form-group">
        <label>Card Number</label>
        <input type="text" placeholder="Card Number" class="form-control form-control-lg" name="cardNumber"
            #cardNumber="ngModel" [(ngModel)]="paymentDetailService.formData.cardNumber" required maxlength="16"
            minlength="16" [class.invalid]="cardNumber.invalid && cardNumber.touched">
    </div>
    <div class="form-group">
        <label>Expiration Date</label>
        <input type="text" placeholder="Expiration Date" class="form-control form-control-lg" name="expirationDate"
            #expirationDate="ngModel" [(ngModel)]="paymentDetailService.formData.expirationDate" required maxlength="5"
            minlength="5" [class.invalid]="expirationDate.invalid && expirationDate.touched">
    </div>
    <div class="form-group">
        <label>Security Code</label>
        <input type="text" placeholder="Security Code" class="form-control form-control-lg" name="securityCode"
            #securityCode="ngModel" [(ngModel)]="paymentDetailService.formData.securityCode" required maxlength="3"
            minlength="3" [class.invalid]="securityCode.invalid && securityCode.touched">
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block" [disabled]="form.invalid">Submit</button>
    </div>
</form>